/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.add-item, .delete-item {
	position: absolute;
}
.tab-div{
	margin-top: 50px;
}
.select-dropdown {
	overflow-y: scroll !important; 
}

.modal{
	height: 90vh !important;
	max-height: 90vh !important;
	width: 80vw !important;
	max-width: 80vw !important;
	top:5vh !important;
}