html{
	height:100%;
}

body{
	height: 100%;
	padding: 0;
	margin: 0;
}

#map-container{
	height: 100%;
	width: 65%;
	float: left;
}

#map-canvas{
	height: 100%;
	width: 100%;
}

#controls{
	height: 100%;
	width: 34%;
	margin-left:5px;
	float:left;
}